.admin-container {
    display: flex;
    flex-flow: row;
    min-height: 100vh;
    color: var(--main-txt-color);
    font-size: 16px;
}

.sidebar-admin, .option-admin, .icon-container, .showIcon {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.option-icon {
    font-size: 24px;
    margin-right: 10px;
}

.sidebar-admin {
    width: 300px;
    justify-content: flex-start;
    align-items: stretch;
    animation-name: slide;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-iteration-count: 1;
    background-color: var(--color-dark-gray);
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.option-admin {
    transition: 0.2s all ease;
    flex-flow: row;
    padding: 10px 0px;
    padding-left: 20px;
    justify-content: flex-start;
    align-items: center;
}

.icon-container {
    width: 30px;
    height: 30px;
    justify-content: center;
}

.option-admin:hover {
    cursor: pointer;
    color: var(--color-light-green);
}

.showIcon {
    padding: 3px;
    justify-content: center;
    cursor: pointer;
    height: min-content;
    animation-name: slide;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-iteration-count: 1;
    background-color: var(--color-dark-gray);
    width: 30px;
}

.showIcon:hover {
    background-color: var(--color-dark-green);
}

.maintab-admin {
    width: 100%;
}

.markad {
    background-color: black;
    color: var(--color-light-green);
}

.nomarkad {
    background-color: transparent;
}

/* extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .showIcon {
        display: flex;
        position: fixed;
    }
    .sidebar-admin {
        display: none;
        margin-top: 38px;
        width: 100%;
        order: 1;
    }
    .maintab-admin {
        order: 2;
    }
    .admin-container {
        flex-flow: column;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .showIcon {
        display: flex;
        position: fixed;
    }
    .sidebar-admin {
        margin-top: 38px;
        display: none;
        grid-row: 1/2;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .showIcon {
        display: flex;
        position: fixed;
    }
    .sidebar-admin {
        margin-top: 38px;
        display: none;
        grid-row: 1/2;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .showIcon {
        display: none;
    }
    .sidebar-admin {
        margin-top: 0px;
        display: flex!important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .showIcon {
        display: none;
    }
    .sidebar-admin {
        margin-top: 0px;
        display: flex!important;
    }
}