.books-container {
    display: flex;
    flex-flow: row wrap;
    row-gap: 10px;
    justify-content: center;
    column-gap: 10px;
}

/* extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .books-container {
        padding: 50px 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .books-container {
        padding: 50px 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .books-container {
        padding: 50px 10px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .books-container {
        padding: 50px 10px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .books-container {
        padding: 50px 50px;
    }
}