.books-container {
    display: flex;
    flex-flow: row wrap;
    row-gap: 20px;
    justify-content: center;
    column-gap: 20px;
}

.spinner {
    animation-name: spin;
    position: relative;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-icon {
    color: var(--color-light-green);
    font-size: 75px;
}

/* extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .books-container {
        padding: 50px 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .books-container {
        padding: 50px 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .books-container {
        padding: 50px 10px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .books-container {
        padding: 50px 10px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .books-container {
        padding: 50px 50px;
    }
}