.books-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    column-gap: 40px;
}

/* extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .books-container {
        padding: 100px 50px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .books-container {
        padding: 100px 50px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .books-container {
        padding: 100px 50px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .books-container {
        padding: 50px 150px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .books-container {
        padding: 50px 150px;
    }
}