.login-container {
    display: flex;
    margin-top: 40px;
    row-gap: 30px;
    justify-content: center;
    column-gap: 70px;
    min-height: 90vh;
    align-items: center;
}

.login {
    padding: 30px 5px;
    background-color: var(--color-dark-gray);
    border-radius: 10px;
    backdrop-filter: blur(4px);
    color: var(--main-txt-color);
}

.message {
    background-color: var(--color-light-gray);
    color: var(--main-txt-color);
    padding: 10px 5px;
}

.icon {
    font-size: 21px;
    color: var(--color-light-green);
    transition: 0.4s all ease;
}

.iconbox {
    height: 45px;
    background-color: var(--main-back-color);
    border-radius: 100px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 39px;
    padding-left: 5px;
}

.inputbox input, .third-text {
    width: 90%;
    background: transparent;
    height: 41px;
    padding-left: 10px;
    transition: 0.4s all ease-in-out;
    letter-spacing: 1.2px;
    outline: 0px;
    color: var(--color-light-green);
    font-size: 16px;
}

.inputbox input {
    border: 0px;
    border-bottom: 2px solid var(--main-back-color);
    position: relative;
    height: 43px;
}

.validInfo {
    position: absolute;
    border: 2px solid gray;
}

#active {
    color: var(--color-dark-green);
}

#disabled {
    color: rgb(110, 75, 75);
}

.third-text {
    background-color: var(--color-light-green);
    border: 0px;
    position: relative;
    color: var(--main-back-color);
    overflow: hidden;
    padding: 0px;
    height: 45px;
}

input::placeholder {
    color: var(--main-txt-color);
    letter-spacing: 1.5px;
}

.login-illus {
    width: 300px;
    height: 300px;
}

.login-illus img {
    width: 100%;
}

input:focus {
    color: rgb(255, 255, 255);
}

.button {
    background-color: var(--main-txt-color);
    color: var(--main-txt-color);
    font-weight: bold;
    outline: 0px;
    padding: 15px 10px;
    border: 0px;
    letter-spacing: 2px;
    transition: 0.2s all ease;
    border-radius: 5px;
}

.createnewacc {
    border: 0px;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
    color: rgb(212, 212, 212);
}

.button:active, .login-third:active {
    transform: scale(1.1);
}

.pageType {
    position: absolute;
    border-radius: inherit;
    transition: 0.4s all ease;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    color: rgba(255, 255, 255, 0.829);
    background-color: var(--color-dark-green);
    padding: 10px 15px;
    top: -20px;
    left: -20px;
}

.pageType::after {
    content: '';
    position: absolute;
    transform-origin: 0% 100%;
    transform: rotate(45deg);
    z-index: -1;
    border: 14px solid var(--color-light-gray);
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    bottom: 0;
    left: 0;
}

.button, .login-third {
    cursor: pointer;
}

.login {
    row-gap: 20px;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.inputbox, .iconbox, .login-third, .third-text, .form, .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    width: 80%;
}

.buttons span {
    margin-top: 20px;
}

.form {
    flex-flow: column nowrap;
    width: 100%;
    row-gap: 20px;
}

.third-text {
    border-top-right-radius: 20px;
    font-size: 15px;
    border-bottom-right-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1.9px;
}

.inputbox, .login-third {
    width: 80%;
    transition: 0.2s all ease;
}

.login-third:hover>.third-text {
    background-color: var(--main-back-color);
    color: var(--color-light-green);
}

#condition {
    width: 100%;
    box-shadow: 5px 5px 7px rgb(66, 66, 66);
    color: rgb(116, 116, 116);
    padding: 10px 20px;
    background-color: var(--main-back-color);
    border-radius: 5px;
    border-top-left-radius: 0px;
    text-align: center;
    margin-top: 5px;
    position: relative;
}

#condition::after {
    content: '';
    position: absolute;
    border: 15px solid var(--color-light-gray);
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform-origin: 50% 0%;
    transform: rotate(180deg);
    left: 0;
    top: 0;
}

.inputbox {
    flex-flow: column;
}