@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Righteous&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
:root {
  --main-txt-color: rgb(230, 230, 230);
  --color-light-green: rgba(135, 194, 50, 1);
  --color-dark-green: rgba(97, 137, 48, 1);
  --main-back-color: rgba(34, 38, 41, 1);
  --color-dark-gray: rgba(71, 74, 79, 1);
  --color-light-gray: rgba(106, 110, 113, 1);
}

.app {
  min-height: 100vh;
  text-align: center;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

.fixed {
  position: fixed;
  width: 100vw;
  z-index: 99999999;
}

.main-content {
  z-index: -1;
}

.down-header {
  height: 50px;
  width: 90vw;
}

/* styling scrollbar */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .app {}
  .login {
    width: 80vw;
  }
  .login-container {
    flex-flow: column;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .app {}
  .login {
    width: 400px;
  }
  .login-container {
    flex-flow: column;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .app {}
  .login {
    width: 450px;
  }
  .login-container {
    flex-flow: column;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .app {}
  .login {
    width: 450px;
  }
  .login-container {
    flex-flow: row;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  .app {}
  .login {
    width: 500px;
  }
  .login-container {
    flex-flow: row;
  }
}